<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onirutla.submissiondicoding">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubmissionDicoding">
        <activity android:name=".ui.detail.DetailActivity"
            android:label="Detail"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".ui.home.HomeActivity">

        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>